*{
    padding: 0;
    margin: 0;
}

/*header*/
header {
    background-color: antiquewhite;
    color: #3c2114;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* 옵션: 헤더에 여백 추가 */
    font-size: 10px;
}

header img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.title{
    font-family: 'Comic Sans MS', cursive, sans-serif; /* 글꼴 수정 */
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*main*/
main img{
    width: 100%;
    height: 290px;
}

.menu {
    display: inline-block;
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #2e180d;
    font-size: 15px;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* 글꼴 수정 */
}

/*footer*/
footer{
    background-color: #222;
    color: #777;
    padding-top: 20px;
    padding-bottom: 20px;
}